
@import 'breakpoints.scss';
@import 'home.scss';
@import 'tamanioGaleria.scss';


$coloresTexto: black;
$rosa: #de9696;
$colorFondo: #f7f4f4;
$fontSizeTextos: 1.5em;
$fontSizeTitulos: 2em;
$fontFamily: 'Barlow Condensed', sans-serif;


* {
    margin: 0%;
    padding: 0%;
}
body {
    background-color: $colorFondo;
    font-family: $fontFamily;
    font-style: normal;
    height: 100%;
    width: 100%;
}
.header {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding-bottom: 5px;
    margin-right: 15px;
    margin-left: 15px;

    #logoBox {
        display: flex;
        justify-content: center;

        img {
            width: 40%;
            animation-name: color;
            animation-duration: 2s;
            animation-iteration-count: 2;
            transition-duration: 1s;
            display: flex;
            justify-self: center;
            
            @keyframes color {
                0% {
                    background-color: none;
                    transform: rotate(-10deg);
                }
                50% {
                    background-color: $rosa;
                    transform: rotate(5deg);
                }
                100% {
                    background-color: none;
                    transform: rotate(-10deg);
                }
            }
            
       }
    }
    ul, a {
        color: $rosa;
        text-decoration: none;
        text-transform: none;
        letter-spacing: 5px;
        word-spacing: 30px;
        text-align: center;
        font-size: 1.3em;
        font-weight: 400;
    }
    li {
        display: inline;
    }
}
@include media ("<=900px") {
    .header {
        nav {
            ul, a {
                font-size: 1.3em;
            }
        }
    }
}
@include media ("<=700px") {
    .header {
        nav {
            ul, a {
                font-size: 1.3em;
                word-spacing: 0.3em;
            }
            button {
                display: none;
            }
        }
    }
}
@include media ("<=570px") {
    .header {
        nav {
            ul, a {
                font-size: 1.1em;
                word-spacing: 0.3em;
            }
        }
    }
}
@include media ("<=414px") {
    .header {
        nav {
            display: flex;
            justify-content: center;
            ul, a {
                font-size: 1.1em;
                word-spacing: 0.1em;
                display: block;
            }

        }
    }
    main {
        h1 {
            font-size: 1.3em;
        }
        h2 {
            font-size: 1.3em;
        }
        h3 {
            font-size: 1em;
        }
    }
}

@mixin textoh2 {
    color: #9c6061;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    text-align: center;  
}
h2 {
    @include textoh2();
}
@mixin textoh1 {
    color: black;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 3%;
    text-align: center;
    font-weight: initial;  
}
h1 {
    @include textoh1();
}


.padreUno {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;

    &__item {
        width: 45%;
        border-style: dotted;
        border-color: $rosa;
        padding: 1%;
    }
}
.textosAbajo {
    padding-top: 5%;
    padding-bottom: 5%;

    &__texto {
        color: $rosa;
        font-size: $fontSizeTextos;
        padding: 1%;
        line-height: 1.5em;
        text-align: center;
        letter-spacing: 2px;
        font-weight: lighter;
        margin: 1em;
        text-justify: distribute;
    }
}


#galeria {
    
    
    .galeria {
        display: grid;
        margin-bottom: 2em;
        margin-left: 5em;
        margin-right: 5em;
        grid-template-rows: 300px 300px 300px 200px;
        margin-top: 2%;
        justify-items: center;
        align-items: center;

        &__zoom:hover {
            transform: scale(2,2);
            transition: 3s;
        }
        #pesar {
            grid-column: 1;
            grid-row: 1;
            justify-self: left;
            width: 280px;
        }
        #lengua {
            grid-column: 2 / 4;
            grid-row: 1;
            justify-self: end;
            height: 250px;
        }
        #pez {
            grid-column: 2;
            grid-row: 1 / 3;
            justify-self: left;
            height: 330px;
        }
        #cuello {
            grid-column: 2;
            grid-row: 2 / 4;
            justify-self: center;
            width: 200px;
        }
        #vib {
            grid-column: 2 /4;
            grid-row: 3 / 5;
            height: 200px;
        }
        #persona {
            grid-column: 1;
            grid-row: 3 / 5;
            width: 300px; 
        }
        #cara {
            width: 300px;
        }
        #hueco {
            width: 250px;
        }
    }
    @include media ("<=414px") {
        main {    
            h1 {
                font-size: 1em;
                
            }
            h2 {
                font-size: 1em;
                
            }
            h3 {
                font-size: 0.7em;
                line-height: 1em;
                margin: 1em;
                text-justify: distribute;
                
            }
            .galeria {
                margin-left: 2em;
                margin-right: 2em;
            }
        }    
    }
}
#nos {
    h1 {
        @include textoh1();
        margin-right: 5%;
        align-self: center;
    }

    @mixin tarjeta ($fondo:tomato){
    background-color: tomato;
    margin: 2rem;
    padding: 10px;
    border-radius: 20px;

        .imagen {
            display: flex;
        }  
        img {
            width: 60%;
            margin: 0 auto;
            margin-bottom: 1rem;
            justify-self: center;
            align-self: center;
            
            &:hover {
                transform: rotate(360deg);
                transition-duration: 5s;
            }
        }
        p {
            font-family: $fontFamily;
            font-size: 1.1em;
            text-align: justify;
            padding: 0.5em;
        }
    }
    main {
        background-color: $colorFondo;
        color: white;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: 5%;

        .tarjetas {
            display: flex;
            
            
            .tarjeta-1 {
                @include tarjeta;
                width: 250px;
            }
            .tarjeta-2 {
                @include tarjeta;
                width: 250px;
            }
        }
    }

    @include media ("<=768px") {
        main {
            width: 100vw;
            display: block;
            h1 {
                font-size: 1em;
                margin-right: 2%;
            }
            .tarjetas {
                display: flex;
                
                p {
                    overflow: hidden;
                    text-align: center;
                }
            }
            

        }
         
    }
    @include media ("<=540px") {
        main {
            .tarjetas {
                display: grid;
                justify-content: center;
            }
        }    
    }
    @include media ("<=375px") {
        main {    
            width: 100vw;
            display: block;
            h1 {
                font-size: 1em;
                margin-right: 2%;
            }
            .tarjetas {
                display: block;
            }
            p {
                font-size: 1em;
                text-justify: distribute-all-lines;
            }
        }    
    }
}
#tienda {

            @mixin subrayado {
                margin-left: 15%;
                margin-right: 15%;
                margin-top: 2%;
                margin-bottom: 2%;
                line-height: 40px;
                border-style: dotted;
                border-bottom-color: tomato;
                border-top: none;
                border-left: none;
                border-right: none;
            }
            @mixin tarjeta ($fondo:tomato){
                background-color: tomato;
                margin: 2rem;
                padding: 10px;
                border-radius: 20px;
                justify-content: center;
                align-items: center;
                justify-items: center;

                img {
                    width: 80%;
                    margin: 0 auto;
                    margin-bottom: 1rem;
                    justify-self: center;
                    align-self: center;
                }
                a {
                    text-decoration: none;
                    font-family: $fontFamily;
                    font-size: 2.5em;
                    color: #f7f4f4;
                    text-align: center;
                    
                    @include media ("<=450px") {
                        font-size: 2em;
                    }
                    @include media ("<=450px") {
                        font-size: 1em;
                    }
                

                }
            }
        h2 {
            @include textoh2();
            font-size: 1.5em;
        }
        
        h3 {
            @extend h2;
            color: tomato;
            font-size: 1em;
            @include subrayado();
        }
        main {
            h5 {
                font-size: 1.5em;
            }
            p {
                font-size: 1.5em;
            }
        }

        
        #carro {
            height: 60px;
            width: 60px;
            position: fixed;
            right: 3%;
            bottom: 2%;
        }
        section {
            .tarjetas {
            background-color: $colorFondo;
            justify-content: center;
            align-content: center;
            margin-top: 2%;
            margin-bottom: 5%;
                
                .tarjeta-1 {
                    @include tarjeta;
                    display: flex;
                }
                .tarjeta-2 {
                    @include tarjeta;
                    display: flex;

                }
                .tarjeta-3 {
                    @include tarjeta;
                    display: flex;

                }
            }
        }
    @include media ("<=420px") {
        
        h1 {
            font-size: 1.3em;
        }
        h2 {
            font-size: 1.3em;
        }
        h3 {
            font-size: 1em;
        }
        main {
            h5 {
                font-size: 0.8em;
                
            }
            p {
                font-size: 0.5em;
            }
        }
    } 
       
    
}
#contacto {
    main {
        .padreContacto {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 5%;

            img {
                width: 30%;
                animation-name: rotar;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                transform-origin: center;
                
                @keyframes rotar {
                    0% {
                        transform: rotate(-30deg);
                    }
                    50% {
                        transform: rotate(5deg);
                        background-color: $rosa;
                    }
                    100% {
                        transform: rotate(-30deg);
                    }
                }

                @include media ("<=1180px") {
                    width: 40%;
                }
                @include media ("<=854px") {
                    width: 45%;
                }
                @include media ("<=700px") {
                    width: 50%;
                    
                }
                @include media ("<=600px") {
                    height: 20%;
                }

            }
        }
        @include media ("<=400px") {
            img {
                justify-self: center;
                margin-left: 5%;
                margin-bottom: 5%;
            }  
        }
        
    }
}
footer {
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10vh;
    justify-content: space-evenly;
    position: absolute;
    .mailinsta {
        text-decoration: none;
        color: black;
        font-size: 2em;
        align-self: center;
    }
    .footerImg {
        height: 30%;
        align-self: center;
    }
    p {
        margin: 0%;
    }
}
@include media ("<=600px") {
    footer {

        .mailinsta {
            font-size: 1em;
        }
        .footerImg {
            height: 20%;
        }
    }
}
@include media ("<=414px") {
    footer {
        display: inline-flex;
        .mailinsta {
            font-size: 1em;
        }
        .footerImg {
            height: 20%;
            
        }
    }
}

